[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-math-teacher
Exec=sailfish-qml harbour-math-teacher
Name=Math teacher
# translation example:
# your app name in German locale (de)
#
# Remember to comment out the following line, if you do not want to use
# a different app name in German locale (de).
Name[fi]=Matikan ope
Name[fr]=Prof de maths
Name[zh_CN]=数学教师

[X-Sailjail]
OrganizationName=fi.rikujolla
ApplicationName=harbour-math-teacher
